.resources {
	display:none;
}
.tile {
	position: absolute;
}
.board {
	position: absolute;
	background-image: url(gridcross.svg);
}

.row0 {
	top: 0px;
}
.row1 {
	top: 23px;
}
.row2 {
	top: 46px;
}
.row3 {
	top: 69px;
}
.row4 {
	top: 92px;
}
.row5 {
	top: 115px;
}
.row6 {
	top: 138px;
}
.row7 {
	top: 161px;
}
.row8 {
	top: 184px;
}
.row9 {
	top: 207px;
}

.col0 {
	left: 0px;
}
.col1 {
	left: 23px;
}
.col2 {
	left: 46px;
}
.col3 {
	left: 69px;
}
.col4 {
	left: 92px;
}
.col5 {
	left: 115px;
}
.col6 {
	left: 138px;
}
.col7 {
	left: 161px;
}
.col8 {
	left: 184px;
}
.col9 {
	left: 207px;
}
