.resources {
	display:none;
}
svg {
	position: absolut;
}

svg.row0 {
	top: 0px;
}
svg.row1 {
	top: 23px;
}
svg.row2 {
	top: 46px;
}
svg.row3 {
	top: 69px;
}
svg.row4 {
	top: 92px;
}
svg.row5 {
	top: 115px;
}
svg.row6 {
	top: 138px;
}
svg.row7 {
	top: 161px;
}
svg.row8 {
	top: 184px;
}
svg.row9 {
	top: 207px;
}

svg.col0 {
	left: 0px;
}
svg.col1 {
	left: 23px;
}
svg.col2 {
	left: 46px;
}
svg.col3 {
	left: 69px;
}
svg.col4 {
	left: 92px;
}
svg.col5 {
	left: 115px;
}
svg.col6 {
	left: 138px;
}
svg.col7 {
	left: 161px;
}
svg.col8 {
	left: 184px;
}
svg.col9 {
	left: 207px;
}
